/* Coolors Exported Palette - coolors.co/b73e39-1e1e24-fffbf8-393d3f-bfc3ba */

/* RGB */
$color1: rgba(183, 62, 57, 1); // "MKBHD" red
$color2: rgba(30, 30, 36, 1); // Raisen Black
$color3: rgba(255, 251, 248, 1); // Snow
$color4: rgba(57, 61, 63, 1); // Black Olive
$color5: rgba(191, 195, 186, 1); // Silver